<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JSInfoVis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InfoDisplay</servlet-name>
    <servlet-class>servlet.InfoDisplay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetConfigname</servlet-name> 
    <servlet-class>servlet.GetConfigname</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetJavafiles</servlet-name>
    <servlet-class>servlet.GetJavafiles</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCodeslist</servlet-name>
    <servlet-class>servlet.GetCodeslist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileInfoDisplay</servlet-name>
    <servlet-class>servlet.FileInfoDisplay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCodefile</servlet-name>
    <servlet-class>servlet.GetCodefile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoDisplay</servlet-name>
    <url-pattern>/InfoDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetConfigname</servlet-name>
    <url-pattern>/GetConfigname</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetJavafiles</servlet-name>
    <url-pattern>/GetJavafiles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCodeslist</servlet-name>
    <url-pattern>/GetCodeslist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileInfoDisplay</servlet-name>
    <url-pattern>/FileInfoDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCodefile</servlet-name>
    <url-pattern>/GetCodefile</url-pattern>
  </servlet-mapping>
</web-app>